{% extends 'BeautyParadiseBackEndBundle:Default:index.html.twig' %}
  {% block body %}
<div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>AJOUT PRODUIT</h2>
                        
                        </div>
                        <div class="body">
                            <form id="" action="{{ path('createProduitBTN') }}" method="POST" enctype="multipart/form-data" >
                             
                           
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="Nom" required>
                                        <label class="form-label">Nom</label>
                                    </div>
                                </div>
                               
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <textarea name="Description" cols="30" rows="5" class="form-control no-resize" required></textarea>
                                        <label class="form-label">Description</label>
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="number" class="form-control" name="prix" required>
                                        <label class="form-label">Prix</label>
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="Video" required>
                                        <label class="form-label">Video</label>
                                    </div>
                                </div>
                                <div class="aa" style="margin: 20px">
                               <b style="color: #aaa">Categorie</b> 
                               <select  required name="categorie" id="first">
                                           
                            
                                        <option value="">-- Please select --</option>
                                        <option data-second='{ "names" : [{"name":"Fond de Teint"},{"name":"Poudres"},{"name":"Contouring"},{"name":"Blush"},{"name":"Anti-Cernes & Cremes"},{"name":"Base-Primer"},{"name":"Enlemineur"}]}' value="Teint" >Teint</option>
	    <option data-second='{ "names" : [{"name":"Fard a Paupieres"},{"name":"Mascaras"},{"name":"Crayons"}]}' value="Yeux">Yeux</option>
	    <option data-second='{ "names" : [{"name":"Rouge a Levres"},{"name":"Gloss"},{"name":"Crayons"}]}' value="Levres">Levres</option>
	    <option data-second='{ "names" : [{"name":"Demaquillant et Nettoyant"},{"name":"Hydratant"},{"name":"Anti Ride/Age"},{"name":"Masques et Gommages"}]}' value="Soins Visage">Soins Visage</option>
	<option data-second='{ "names" : [{"name":"Vernis a Ongles"},{"name":"Dissolvant"},{"name":"Soins des Ongles"},{"name":"NailArt"}]}' value="Ongles">Ongles </option>    
                               </select></div>
                               <div style="margin: 20px">
                               <b style="color: #aaa">Sous Categorie</b> 
	<select required name="Sous-Categorie" id="second">  <option value="">-- Please select Categorie --</option></select></div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
							
							                        <script>
                                
		$(document).ready(function(){
		    $("#first").change(function(){
		        $("#second option").remove();

		        var names = $("#first option:selected").data('second').names;
		        var newoptions = "";
		        for(var i = 0; i < names.length; i++){
		            newoptions+="<option value=" + names[i].name + ">"+ names[i].name +"</option>";                            
		        }
		        $("#second").append(newoptions);
		    });        
		});
                            </script> 
                                      <div style="margin: 20px">
                               <b style="color: #aaa">Type de peau</b> 
                               <select  name="Type-de-peau" >
                                           
                            
                                        <option value="">-- Please select --</option>
                                        <option value="Peau Grasse" >Peau Grasse</option>
                                        <option value="Peau Normale" >Peau Normale</option>
                                        <option value="Peau Seche" >Peau Seche</option>
                                        <option value="Peau Mixte" >Peau Mixte</option>
                                        
                                        
	</select></div>
                                              <div style="margin: 20px">
                               <b style="color: #aaa">Type Teint</b> 
                               <select  name="Type-teint"  >
                                           
                            
                                        <option value="">-- Please select --</option>
                                        <option value="Legere" >Legere</option>
                                        <option value="Moyenne" >Moyenne</option>
                                        <option value="Forte" >Forte</option>
                                       
                                        
                                        
	</select></div>
                                  
                             
                            
                          
                      <div class="form-group form-float">
                          <b style="color: #aaa">News image</b>
                                        <input type="file"  name="photo1" required="" aria-required="true">
                                     
                                   
                                </div>
                               
                              
                                
                                      
                                    
                            <input class="btn btn-primary waves-effect" value="Ajouter" type="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                            
          
          {% endblock %}