{% extends 'BeautyParadiseBackEndBundle:Default:Template.html.twig' %}
  {% block body %}
      <STYLE type="text/css">
     .cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
} 

/* Form wrapper styling */
.form-wrapper {
    width: 100%;
    padding: 15px;
   float: right;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */

.form-wrapper input {
  
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #ff1748;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
  
.form-wrapper button:hover{		
    background: #ff1748;
}	
  
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #ff1748;
	outline: 0;   
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #ff1748;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #ff1748;
}      

form {
	margin: 40px 0;
}


.maldini {
	clear: both;
	margin: 0 50px;
}

label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
	margin-left: -9999px;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #ff1748;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #ff1748;
}

input.radio:checked ~ label {
	color: #777;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    float: left;
    width: 100%
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

      </STYLE>
      
      <div id="paging_container11" style="width: 100%;" class="list container">
  
          
          <div class="form-wrapper cf">		
			 <table> <form  id="" action="{{ path('RechProduitBTN') }}" method="POST" enctype="multipart/form-data" >
                             <tr><td><input type="text" name="text" style="width: 248px;"  required="" placeholder="Mot-Cle">
                                 <button type="submit">Recherche</button>
                           
                                 </td></tr>
                             
                            
                             
                                    {% if articles is empty %}
                          
       
            {% else %}
                                    <input type="text" name="text2" value="{{articles[0].categorie}}" required="" placeholder="Mot-Cle" hidden>
                                    {% endif %}
      
                            </form>
         
<form id="form " action="{{ path('RechProduitBTN2') }}">
                        {% if articles is empty %}
   
            {% elseif  articles[0].categorie == "Teint" or articles[0].categorie == "Soins Visage"   %}
                                    <input type="text" name="text2" value="{{articles[0].categorie}}" required="" placeholder="Mot-Cle" hidden>
    <tr>   <td>   <div class="maldini" >
<input type="radio" name="radio" id="radio1" value="Peau Grasse" class="radio" />
<label for="radio1">Peau Grasse</label>
</div>  </td>
            <td>      <div class="maldini">
<input type="radio" name="radio" id="radio2" value="Peau Normale" class="radio" />
<label for="radio2">Peau Normale</label>
</div> </td>
            <td>      <div class="maldini">
<input type="radio" name="radio" id="radio3" value="Peau Seche" class="radio" />
<label for="radio3">Peau Seche</label>
</div>    </td>   <td>   <div class="maldini">
<input type="radio" name="radio" id="radio4" value="Peau Mixte" class="radio" />
<label for="radio4">Peau Mixte</label>
</div> </td>

         
  
  
    {% endif %}   
</form></tr></table> </DIV>
                 {% if test %}
			      <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  Le produit n'existe pas!!
</div>	{% endif %}
				<ul class="content">
				   {% for article in articles %}
                                       <a href="{{path('SingleProduit',{'id':article.id})}}">
    <li>

      <img  class="object-fit_cover" src="{{article.image}}" />
      <h3>{{article.nom}}</h3>
      <p> {{article.description[:400] }}</p>
    </li>
                                       </a>
            {% endfor %}

  </ul>
            {% if articles|length > 6 %}
   <div class="page_navigation"></div>
{% endif %}
				
		</div>   
 

  
  
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.pajinate.js')}}"></script>
  
            <script>
                                      jQuery.noConflict();
(function($) {
    $(document).ready(function(){
				$('#paging_container11').pajinate({
					num_page_links_to_display : 3,
					items_per_page : 6	
				});
			});   }(jQuery));
            </script>
            <script type='text/javascript'>

 $(document).ready(function() { 
   $('input[name=radio]').change(function(){
        $('form').submit();
   });
  });

</script>

         {% endblock %}