{% extends 'BeautyParadiseBackEndBundle:Default:index.html.twig' %}
  {% block body %}
        <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>
      <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">fiber_new</i>
                        </div>
                        <div class="content">
                            <div class="text">NEWS</div>{% for article in news %}
                            <div class="number count-to" data-from="0" data-to="{{article.nbr}}" data-speed="1" data-fresh-interval="20">125</div>{% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">insert_drive_file</i>
                        </div>
                        <div class="content">
                            <div class="text">ARTICLES</div>{% for article in article %}
                            <div class="number count-to" data-from="0" data-to="{{article.nbr}}" data-speed="1" data-fresh-interval="20">125</div>{% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">shopping_basket</i>
                        </div>
                        <div class="content">
                            <div class="text">PRODUITS</div>{% for article in produit %}
                            <div class="number count-to" data-from="0" data-to="{{article.nbr}}" data-speed="1" data-fresh-interval="20">125</div>{% endfor %}
                    </div>
                       </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">person_add</i>
                        </div>
                        <div class="content">
                            <div class="text">ADMINS</div>{% for article in admins %}
                            <div class="number count-to" data-from="0" data-to="{{article.nbr}}" data-speed="1" data-fresh-interval="20">125</div>{% endfor %}
                    </div>
                    </div>
                </div>
            </div>
<div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                NEWS
                                <small>With a bit of extra markup, it's possible to add any kind of HTML content like headings, paragraphs, or buttons into thumbnails.</small>
                            </h2>
                            <ul class="header-dropdown m-r--5">
                                                                              <a href="{{ path('addProduitBTN') }}" class="btn btn-primary waves-effect" role="button">+ Ajouter Produit</a>

                            </ul>
                        </div>
                        <div class="body">
                            <div class="row">
                                  {% for article in articles %}
                                      <div class="col-sm-6 col-md-3" style="width: 270px;height: 540px;margin-bottom:20px;margin-left: 25px;margin-right:25px ">
                                    <div class="thumbnail">
                                        <img src="{{article.image}}" style="width: 205px;height: 136px">
                                        <div class="caption">
                                            <h3 style="width: 187px;height: 37.4px">{{article.nom[:35]}}</h3>
                                            <div id="containerIntro">
                                             <h5 >Categorie:</h5> <p >{{article.categorie }}
                                             </p>
                                            </div>
                                             <div id="containerIntro">
                                             <h5>Sous Categorie:</h5><p> {{article.sousCategorie}}
                                            </p>
                                             </div>
                                              <div id="containerIntro">
                                             <h5>Type Tient:</h5> <p> {{article.typeTient}}
                                            </p>
                                             </div>
                                              <div id="containerIntro">
                                              <h5>Type Peau:</h5><p>{{article.typePeau}}
                                            </p>
                                            </div>
                                             <div id="containerIntro">
                                              <h5>Prix:</h5><p>{{article.prix}}€
                                            </p>
                                            </div>
   
<input id="input-7-xs" class="rating rating-loading" value="{{article.rate}}" data-min="0" data-max="5" data-step="0.5" data-size="xs"><hr/>
 
<script>
    $("#input-3").rating();
$(document).on('ready', function(){
    $('#input-3').rating({displayOnly: true, step: 0.5});
});
</script>
                                            <h5>Description:</h5>
                                            <p>
                                              {{article.description[:150] }}
                                            </p>
                                            <p>
                                                <a href="{{path('suppProduitBTN',{'id':article.id})}}" style="background-color:#ff3f00; "class="btn btn-primary waves-effect" role="button">Supprimer</a>
                                           
                                                <a href="{{path('updateProduitBTN',{'id':article.id})}}" style="background-color:#0054ff; margin-left: 13px "class="btn btn-primary waves-effect" role="button">Modifier</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                          
                      
          {% endblock %}