{% extends 'BeautyParadiseBackEndBundle:Default:Template.html.twig' %}
  {% block body %}
     <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li><a href="#">Produit</a></li>
            <li><a href="#">{{aa.categorie}}</a></li>
            <li><a href="#">{{aa.sousCategorie}}</a></li>
            </ol>
        
              
            <h1>{{aa.nom}}</h1>
                   <div class="post_commentbox"> <a href="#">Prix:  {{aa.prix}}  <i class="fa fa-usd "></i></a> <span>Type Peau: {{aa.typePeau}}</span> <span>Type Tient: {{aa.typeTient}}</span>  </div>
            <div class="single_page_content"> <img class="img-center" src="{{aa.image}}" alt="">
              <blockquote> {{aa.description}} </blockquote>
          <div class="vide_area">
                  <iframe width="100%" height="350px" src="https://www.youtube.com/embed/{{aa.video}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
             
       
          </div>
        </div>
      </div>
   
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Produits</span></h2>
            <ul class="spost_nav">
                {% for article in Produits[:5] %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{path('SingleProduit',{'id':article.id})}}" class="media-left"> <img alt="" src="{{article.image}}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title">{{article.nom}}</a> </div>
                    <p>   {{article.description[:80]  }}... </p>
                </div>
              </li>{% endfor %}
            
            </ul>
          </div>          <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Top 5 Tuto</span></h2>
            <ul class="spost_nav">
                {% for article in tuto[:5] %}
              <li>
                <div class="vide_area">
                  <iframe width="100%" height="150" src="{{article.video}}" frameborder="0" allowfullscreen></iframe>
                </div>
              </li>
               {% endfor %}
            </ul>
          </div>
        
      
        </aside>
          </div>
        
        </aside>
      </div>
    </div>
  </section>
         {% endblock %}