{% extends 'BeautyParadiseBackEndBundle:Default:index.html.twig' %}
  {% block body %}
<div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>MODIFIER ARTICLE</h2>
                        
                        </div>
                        <div class="body">
                            <form id="" action="" method="POST" enctype="multipart/form-data" >
                             
                           
                                <div class="form-group form-float">
                                    <div class="form-line focused">
                                        
                                        {{form_widget(form.nom, { 'attr': {'class': "form-control",
                                                            'id': 'form_control_1'|trans} })}} 
                                        <label class="form-label">Nom</label>
                                    </div>
                                </div>
                               
                                <div class="form-group form-float">
                                    <div class="form-line focused">
                                       
                                            {{form_widget(form.description, { 'attr': {'class': "form-control no-resize",'cols':"300",
                                                            'id': 'form_control_1'|trans} })}} 
                                        <label class="form-label">Description</label>
                                    </div>
                                </div>
                                    <div class="form-group form-float">
                                    <div class="form-line focused">
                                  
                                        {{form_widget(form.prix, { 'attr': {'class': "form-control",
                                                            'id': 'form_control_1'|trans} })}} 
                                        <label class="form-label">Prix</label>
                                    </div>
                                </div>
                                 <div class="form-group form-float">
                                    <div class="form-line focused">
                                  
                                        {{form_widget(form.video, { 'attr': {'class': "form-control",
                                                            'id': 'form_control_1'|trans} })}} 
                                        <label class="form-label">Video</label>
                                    </div>
                                </div>
                            
                          
                      {{ form_rest(form) }} 
                              
                                
                                      
                                    
                                <input class="btn btn-primary waves-effect" value="Modifier" type="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
   
                      
          {% endblock %}