<!DOCTYPE html>
<html>
<head>
<title>NewsFeed</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/animate.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/font.css')}}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('css/li-scroller.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/slick.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.fancybox.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/theme.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/style_1.css')}}">
<link rel="stylesheet" type="text/css" href="{{ asset('css/themeone.css')}}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="{{ asset('js/html5shiv.min.js')}}"></script>
<script src="{{ asset('js/respond.min.js')}}"></script>
<![endif]-->
</head>
<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container" style="">
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="header_top_left">
            <ul class="top_nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="pages/contact.html">Contact</a></li>
            </ul>
          </div>
          <div class="header_top_right">
            <p>Friday, December 05, 2045</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_bottom">
          <div class="logo_area"><a href="" class="logo"><img src="{{ asset('images/BeautyIcone4.png')}}" alt=""></a></div>
          <div class="add_banner"><a href="#"><img src="images/addbanner_728x90_V1.jpg" alt=""></a></div>
        </div>
      </div>
    </div>
  </header>
  <section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav main_nav">
          <li class="active"><a href="{{ path('FrontEnd') }}"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
          <li><a href="{{ path('ListeNews') }}">News</a></li>
          <li><a href="{{ path('ListeArticle') }}">Articles</a></li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Produits</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ path('ListeProduit',{'type':"teint"}) }}">Teint</a></li>
              <li><a href="{{ path('ListeProduit',{'type':"yeux"}) }}">Yeux</a></li>
              <li><a href="{{ path('ListeProduit',{'type':"levres"}) }}">Lévres</a></li>
              <li><a href="{{ path('ListeProduit',{'type':"soins visage"}) }}">Soins Visage</a></li>
              <li><a href="{{ path('ListeProduit',{'type':"ongles"}) }}">Ongles</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </section>
          
  <section id="sliderSection">
    <div class="row">
      <div class="single_post_content">
            <h2><span>News</span></h2>
          </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
            {% for article in news[:4] %}
          <div class="single_iteam"> <a href="{{path('SingleNews',{'id':article.id})}}"> <img src="{{article.image}}" class="object-fit_cover" alt=""></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" href="{{path('SingleNews',{'id':article.id})}}">{{article.titre}}</a></h2>
              <p>  {{article.contenu[:150] }}...</p>
            </div>
          </div>{% endfor %}
        
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
        
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">
                {% for article in news[:10] %}
              <li>
                <div class="media"> <a href="{{path('SingleNews',{'id':article.id})}}" class="media-left"> <img alt="" class="object-fit_cover" src="{{article.image}}"> </a>
                    <div class="media-body"> <a href="{{path('SingleNews',{'id':article.id})}}" class="catg_title"> <h5>{{article.titre[:40]}}..</h5><p>{{article.contenu[:60] }}...</p></a> </div>
                </div>
              </li>{% endfor %}
            
            </ul>
            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Articles</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav  wow fadeInDown">
                  {% for article in articles[:4] %}
                <li>
     <figure class="bsbig_fig"> <a href="{{path('SingleArticle',{'id':article.id})}}" class="featured_img"> <img  class="object-fit_cover" alt="" src="{{article.image}}"> <span class="overlay"></span> </a>
                    <figcaption> <a href="{{path('SingleArticle',{'id':article.id})}}">{{article.titre[:35]}}</a> </figcaption>
                    <p>  {{article.contenu[:150] }}...</p>
                  </figure>
                </li>{% endfor %}
             
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav"> {% for article in articles|slice(5, 4) %}
               <li>
                  <figure class="bsbig_fig"> <a href="{{path('SingleArticle',{'id':article.id})}}" class="featured_img"> <img  class="object-fit_cover" img alt="" src="{{article.image}}"> <span class="overlay"></span> </a>
                    <figcaption> <a href="{{path('SingleArticle',{'id':article.id})}}">{{article.titre[:35]}}</a> </figcaption>
                    <p>  {{article.contenu[:150] }}...</p>
                  </figure>
                </li>{% endfor %}
               
              </ul>
            </div>
          </div>
         
         
           
          
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Coup de Coeur</span></h2>
            <ul class="spost_nav">
                 {% for article in produits[:5] %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{path('SingleProduit',{'id':article.id})}}" class="media-left"> <img alt="" src="{{article.image}}" class="object-fit_cover"> </a>
                  <div class="media-body"> <a href="{{path('SingleProduit',{'id':article.id})}}" class="catg_title">{{article.nom}}</a> </div>
                  <p>   {{article.description[:80]  }}... </p>
                </div>
              </li>
              {% endfor %}
          
            </ul>
          </div>
          <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Top 5 Tuto</span></h2>
            <ul class="spost_nav">
                {% for article in Tutos[:5] %}
              <li>
                <div class="vide_area">
                  <iframe width="100%" height="150" src="{{article.video}}" frameborder="0" allowfullscreen></iframe>
                </div>
              </li>
               {% endfor %}
            </ul>
          </div>
        
      
        </aside>
      </div>
    </div>
  </section>
          <footer id="footer">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInLeftBig">
            <h2>Flickr Images</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInDown">
            <h2>Tag</h2>
            <ul class="tag_nav">
              <li><a href="#">Games</a></li>
              <li><a href="#">Sports</a></li>
              <li><a href="#">Fashion</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Life &amp; Style</a></li>
              <li><a href="#">Technology</a></li>
              <li><a href="#">Photo</a></li>
              <li><a href="#">Slider</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInRightBig">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <address>
            Perfect News,1238 S . 123 St.Suite 25 Town City 3333,USA Phone: 123-326-789 Fax: 123-546-567
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <p class="copyright">Copyright &copy; 2045 <a href="index.html">NewsFeed</a></p>
      <p class="developer">Developed By Wpfreeware</p>
    </div>
  </footer>
</div>
<script src="{{ asset('js/jquery.min.js')}}"></script> 

<script src="{{ asset('js/wow.min.js')}}"></script> 
<script src="{{ asset('js/wow.min.js')}}"></script> 
<script src="{{ asset('js/bootstrap.min.js')}}"></script> 
<script src="{{ asset('js/slick.min.js')}}"></script> 
<script src="{{ asset('js/jquery.li-scroller.1.0.js')}}"></script> 
<script src="{{ asset('js/jquery.newsTicker.min.js')}}"></script> 
<script src="{{ asset('js/jquery.fancybox.pack.js')}}"></script> 
<script src="{{ asset('js/custom.js')}}"></script>
</body>
</html>