.scrollToTop{background-color:#ff1748; color:#fff}
.scrollToTop:hover, .scrollToTop:focus{background-color:#fff; color:#d083cf; border-color:1px solid #d083cf}
.logo > span{color:#ff1748}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{background-color:#ff1748}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color:#ff1748}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#ff1748}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#ff1748}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#ff1748}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#ff1748}
.latest_newsarea span{background:none repeat scroll 0 0 #ff1748}
.latest_post > h2 span{background:none repeat scroll 0 0 #ff1748}
#prev-button{color:#ff1748}
#next-button{color:#ff1748}
.single_post_content > h2 span{background:none repeat scroll 0 0 #ff1748}
.single_sidebar > h2 span{ background:none repeat scroll 0 0 #ff1748}
.bsbig_fig figcaption a:hover{color:#ff1748}
.spost_nav .media-body > a:hover{color:#ff1748}
.cat-item a:hover{background-color:#ff1748}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{background-color:#ff1748}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color:#ff1748}
.single_sidebar > ul > li a:hover{color:#ff1748}
.footer_widget > h2:hover{color:#ff1748}
.tag_nav li a:hover{color:#ff1748; border-color:#ff1748}
.copyright a:hover{color:#ff1748}
.post_commentbox a:hover, .post_commentbox span:hover{color:#ff1748}
.breadcrumb{border-left:10px solid #ff1748}
.single_page_content ul li:before{background-color:#ff1748}
.single_page_content h2, .single_page_content h3, .single_page_content h4, .single_page_content h5, .single_page_content h6{color:#ff1748}
.nav-slit .icon-wrap{background-color:#ff1748}
.nav-slit h3{background:#ff1748}
.catgArchive{background-color:#ff1748}
.error_page > h3{color:#d083cf}
.error_page > span{background:none repeat scroll 0 0 #ff1748}
.error_page > a{background-color:#ff1748}
.contact_area > h2{background-color:#ff1748}
.contact_form input[type="submit"]{background-color:#ff1748}
.contact_form input[type="ff1748"]:hover{background-color:#fff; color:#ff1748}
.related_post > h2 i{color:#d083cf}
.form-control:focus{border-color:#ff1748;  box-shadow:0 0px 1px #ff1748 inset,0 0 5px #ff1748}