{% extends 'BeautyParadiseBackEndBundle:Default:index.html.twig' %}
  {% block body %}
<div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>AJOUT Tuto</h2>
                        
                        </div>
                        <div class="body">
                            <form id="" action="{{ path('createTutoBTN') }}" method="POST" enctype="multipart/form-data" >
                             
                           
                           
                              
                                  <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="video" required>
                                        <label class="form-label">Video</label>
                                    </div>
                                </div>
                   
                    <input class="btn btn-primary waves-effect" value="Ajouter" type="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
   
                      
          {% endblock %}