{% extends 'BeautyParadiseBackEndBundle:Default:index.html.twig' %}
  {% block body %}
<div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>AJOUT NEWS</h2>
                        
                        </div>
                        <div class="body">
                            <form id="" action="{{ path('createNewsBTN') }}" method="POST" enctype="multipart/form-data" >
                             
                           
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="titre" required>
                                        <label class="form-label">Titre</label>
                                    </div>
                                </div>
                               
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <textarea name="contenu" cols="30" rows="5" class="form-control no-resize" required></textarea>
                                        <label class="form-label">Description</label>
                                    </div>
                                </div>
                                  
                                   <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="source" required=""/>
                                        <label class="form-label">Source</label>
                                    </div>
                                </div>
                                <div class="demo-masked-input">
                                <div class="row clearfix">
                                 <div class="col-md-3">
                                        <b style="color: #aaa">Date</b>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                <input type="text" name="date" class="form-control date" required="" placeholder="Ex: 30/07/2016 22:22">
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                     </div>
                            
                          
                      <div class="form-group form-float">
                          <b style="color: #aaa">News image</b>
                                        <input type="file"  name="photo1" required="" aria-required="true">
                                     
                                   
                                </div>
                               
                              
                                
                                      
                                    
                                <input class="btn btn-primary waves-effect" value="Ajouter" type="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
   
                      
          {% endblock %}