{% extends 'BeautyParadiseBackEndBundle:Default:Template.html.twig' %}
  {% block body %}
      	<div id="paging_container11" class="list container">
				
					
			
				
				<ul class="content">
				   {% for article in articles %}
                                       <a href="{{path('SingleNews',{'id':article.id})}}">
    <li>

      <img  class="object-fit_cover" src="{{article.image}}" />
      <h3>{{article.titre}}</h3>
      <p> {{article.contenu[:400] }}</p>
    </li>
                                       </a>
            {% endfor %}

  </ul>
         {% if articles|length > 6 %}
   <div class="page_navigation"></div>
{% endif %}				
		</div>   
 

  
  </div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.pajinate.js')}}"></script>
  
            <script>
                                      jQuery.noConflict();
(function($) {
    $(document).ready(function(){
				$('#paging_container11').pajinate({
					num_page_links_to_display : 3,
					items_per_page : 6	
				});
			});   }(jQuery));
            </script>
         {% endblock %}