{% extends 'BeautyParadiseBackEndBundle:Default:Template.html.twig' %}
  {% block body %}
     <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="../index.html">Home</a></li>
              <li><a href="#">News</a></li>
            
            </ol>
        
              
            <h1>{{aa.titre}}</h1>
            <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>{{aa.source}}</a> <span><i class="fa fa-calendar"></i>{{aa.date}}</span>  </div>
            <div class="single_page_content"> <img class="img-center" src="{{aa.image}}" alt="">
              <blockquote> {{aa.contenu}} </blockquote>
       
            </div>
             
       
          </div>
        </div>
      </div>
      <nav class="nav-slit"> <a class="prev" href="#"> <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
        <div>
          <h3>City Lights</h3>
          <img src="../images/post_img1.jpg" alt=""/> </div>
        </a> <a class="next" href="#"> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
        <div>
          <h3>Street Hills</h3>
          <img src="../images/post_img1.jpg" alt=""/> </div>
        </a> </nav>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>Articles</span></h2>
            <ul class="spost_nav">
                {% for article in articles[:5] %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{path('SingleArticle',{'id':article.id})}}" class="media-left"> <img alt="" src="{{article.image}}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title">{{article.titre}}</a> </div>
               <p>   {{article.contenu[:80]  }}... </p>
                </div>
              </li>{% endfor %}
            
            </ul>
          </div><div class="single_sidebar">
                   <h2><span>News</span></h2>
            <ul class="spost_nav">
                {% for article in news[:5] %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{path('SingleNews',{'id':article.id})}}" class="media-left"> <img alt="" src="{{article.image}}"> </a>
                  <div class="media-body"> <a href="single_page.html" class="catg_title">{{article.titre}}</a> </div>
                <p>   {{article.contenu[:80]  }}... </p>
                </div>
              </li>{% endfor %}
            
            </ul></div>
          </div>
        
        </aside>
      </div>
    </div>
  </section>
         {% endblock %}