{% extends 'BeautyParadiseBackEndBundle:Default:index.html.twig' %}
  {% block body %}
<div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>MODIFIER ARTICLE</h2>
                        
                        </div>
                        <div class="body">
                            <form id="" action="" method="POST" enctype="multipart/form-data" >
                             
                           
                                <div class="form-group form-float">
                                    <div class="form-line focused">
                                        
                                        {{form_widget(form.titre, { 'attr': {'class': "form-control",
                                                            'id': 'form_control_1'|trans} })}} 
                                        <label class="form-label">Titre</label>
                                    </div>
                                </div>
                               
                                <div class="form-group form-float">
                                    <div class="form-line focused">
                                       
                                            {{form_widget(form.contenu, { 'attr': {'class': "form-control no-resize",'cols':"300",
                                                            'id': 'form_control_1'|trans} })}} 
                                        <label class="form-label">Description</label>
                                    </div>
                                </div>
                                    <div class="form-group form-float">
                                    <div class="form-line focused">
                                  
                                        {{form_widget(form.source, { 'attr': {'class': "form-control",
                                                            'id': 'form_control_1'|trans} })}} 
                                        <label class="form-label">Auteur</label>
                                    </div>
                                </div>
                                <div class="demo-masked-input">
                                <div class="row clearfix">
                                 <div class="col-md-3">
                                        <b style="color: #aaa">Date</b>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">date_range</i>
                                            </span>
                                            <div class="form-line">
                                                {{form_widget(form.date, { 'attr': {'class': "form-control date",
                                                            'id': 'form_control_1'|trans} })}} 
                                               
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                     </div>
                            
                          
                      {{ form_rest(form) }} 
                              
                                
                                      
                                    
                                <input class="btn btn-primary waves-effect" value="Modifier" type="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
   
                      
          {% endblock %}