{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
    <!DOCTYPE html><html lang="en-GB" prefix="og: http://ogp.me/ns#">
<!-- Mirrored from avaris.themes.creiden.com/restaurant/reservation/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Dec 2016 19:29:59 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="profile" href="http://gmpg.org/xfn/11"><link rel="pingback" href="../xmlrpc.php"><link type="text/css" media="all" href="{{asset("avaris-wpengine.netdna-ssl.com/restaurant/wp-content/cache/autoptimize/13/css/autoptimize_aa5f1c5fae0ba6a71acbf5d15fe7b188.css")}}" rel="stylesheet" /><title>Reservation - Restaurant</title><link rel="canonical" href="index.html" /><meta property="og:locale" content="en_GB" /><meta property="og:type" content="article" /><meta property="og:title" content="Reservation - Restaurant" /><meta property="og:url" content="index.html" /><meta property="og:site_name" content="Restaurant " /><meta name="twitter:card" content="summary" /><meta name="twitter:title" content="Reservation - Restaurant" /><link rel='dns-prefetch' href='http://fonts.googleapis.com/' /><link rel='dns-prefetch' href='http://s.w.org/' /><link rel="alternate" type="application/rss+xml" title="Restaurant  &raquo; Feed" href="../feed/index.html" /><link rel="alternate" type="application/rss+xml" title="Restaurant  &raquo; Comments Feed" href="../comments/feed/index.html" /><link rel='stylesheet' id='avaris-font-css'  href='https://fonts.googleapis.com/css?family=Lato:300,400' type='text/css' media='all' /><link rel='stylesheet' id='avaris-extra-fonts-css'  href='https://fonts.googleapis.com/css?family=Great+Vibes|Oleo+Script:400,700' type='text/css' media='all' /><link rel='https://api.w.org/' href='../wp-json/index.html' /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="../xmlrpc0db0.php?rsd" /><link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../wp-includes/wlwmanifest.xml" /><link rel='shortlink' href='../index1098.html?p=59' /><link rel="alternate" type="application/json+oembed" href="../wp-json/oembed/1.0/embedeb7e.json?url=https%3A%2F%2Favaris.themes.creiden.com%2Frestaurant%2Freservation%2F" /><link rel="alternate" type="text/xml+oembed" href="../wp-json/oembed/1.0/embed7d33?url=https%3A%2F%2Favaris.themes.creiden.com%2Frestaurant%2Freservation%2F&amp;format=xml" /><meta name="generator" content="Powered by Slider Revolution 5.2.5.2 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." /><link rel="icon" href="../../../avaris-wpengine.netdna-ssl.com/restaurant/wp-content/uploads/sites/13/2016/06/cropped-restaurant_favicon-32x32.png" sizes="32x32" /><link rel="icon" href="../../../avaris-wpengine.netdna-ssl.com/restaurant/wp-content/uploads/sites/13/2016/06/cropped-restaurant_favicon-192x192.png" sizes="192x192" /><link rel="apple-touch-icon-precomposed" href="../../../avaris-wpengine.netdna-ssl.com/restaurant/wp-content/uploads/sites/13/2016/06/cropped-restaurant_favicon-180x180.png" /><meta name="msapplication-TileImage" content="../wp-content/uploads/sites/13/2016/06/cropped-restaurant_favicon-270x270.png" /></head><body class="page page-id-59 page-template-default has-pagebuilder"><header id="creiden-headerbuilder-innerpages"
class="avaris-headerbuilder avaris-main-header creiden-headerbuilder-innerpages toggledOn defaultHeader"
style="background-color:"
><div id="creiden-headerbuilder-innerpages-header_row-3"
class="avaris-headerbuilder-row creiden-headerbuilder-block-header_row rowWrapper lightContent mainHeader responsiveCheck creiden-headerbuilder-has-child-header_logo"
content-color="lightContent"
style="background-color: #14171f"
><div class="headerWrapper"><div class="container"><div class="headerRow"><div id="creiden-headerbuilder-innerpages-header_logo-7"
class="avaris-headerbuilder-logo creiden-headerbuilder-block-header_logo logoWrapper headerCenter"
style="width: 253px"> <a href="https://avaris.themes.creiden.com/restaurant"> <img src="../../../avaris-wpengine.netdna-ssl.com/restaurant/wp-content/uploads/sites/13/2016/03/logo1.png"
alt="Restaurant "
width="253"
height="167"
style="width: 253px;height: 167px"/> </a></div></div></div></div></div><div id="creiden-headerbuilder-innerpages-header_row-4"
class="avaris-headerbuilder-row creiden-headerbuilder-block-header_row rowWrapper lightContent mainHeader responsiveCheck creiden-headerbuilder-has-child-header_menu"
content-color="lightContent"
style="background-color: #14171f"
><div class="headerWrapper"><div class="container"><div class="headerRow"><div id="creiden-headerbuilder-innerpages-header_menu-8"
class="avaris-headerbuilder-menu creiden-headerbuilder-block-header_menu responsiveCheck headerMenu headerCenter"
><div class="toggleMenuBtn"><span class="icon-menu"></span></div><div class="menuWrapper"><div class="closeMenu"><span class="icon-cancel"></span></div><div class="menu-menu-1-container"><ul id="menu-menu-1" class="clearfix menuContent"><li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="../index.html">Home</a></li><li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-178"><a href="../menu-table/index.html">Menu</a><ul class="sub-menu"><li id="menu-item-175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a href="../menu-table/index.html">Menu Layout 1</a></li><li id="menu-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="../menu/index.html">Menu Layout 2</a></li></ul></li><li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="../recipes/index.html">RECIPES</a></li><li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href="../blog/index.html">BLOG</a></li><li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57"><a href="../contact-us/index.html">CONTACT</a></li><li id="menu-item-66" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-59 current_page_item menu-item-66 active"><a href="index.html">RESERVATION</a></li><li id="menu-item-132" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-132"><a href="https://themeforest.net/item/avaris-responsive-wordpress-multipurpose-theme/16543524?license=regular&amp;open_purchase_for_item_id=16543524&amp;purchasable=source&amp;ref=creiden">Purchase Theme</a></li></ul></div></div></div></div></div></div></div></header><div class="avaris-main-body"><div class="avaris-container"><div class="wrap"><div id="main" class="main" role="main"><article id="post-59" class="avaris-entry post-59 page type-page status-publish hentry"><div class="avaris-entry-body"><div class="avaris-entry-content"><div class="avaris-pagebuilder"><div class="avaris-pagebuilder-row has-column avaris-pagebuilder-row--fullwidth"><div class="avaris-pagebuilder-container"><div class="avaris-pagebuilder-blocks-wrap"><div id="avaris-pagebuilder-aq_block_1"
class="avaris-pagebuilder-block avaris-pagebuilder-block-column col-sm-12 "><div class=" avaris-pagebuilder-column-block--medium-padding"
style="background-color: #f8f8f8;"	><div class="avaris-pagebuilder-column-row has-text"><div class="avaris-pagebuilder-column-container"><div class="avaris-pagebuilder-column-blocks-wrap"><div id="avaris-pagebuilder-aq_block_2"
class="avaris-pagebuilder-block avaris-pagebuilder-block-text col-sm-12 avaris-animation avaris-animation-fade-down"><p><a href="../../../avaris-wpengine.netdna-ssl.com/restaurant/wp-content/uploads/sites/13/2016/03/icon.png"><img class="size-full wp-image-10 aligncenter" src="../../../avaris-wpengine.netdna-ssl.com/restaurant/wp-content/uploads/sites/13/2016/03/icon.png" alt="icon" width="72" height="24" /></a></p><p style="text-align: center;"><span style="font-family: 'Great Vibes'; font-size: 44px;">Reserve Now</span></p></div></div></div></div><div class="avaris-pagebuilder-column-row has-text"><div class="avaris-pagebuilder-column-container"><div class="avaris-pagebuilder-column-blocks-wrap"><div id="avaris-pagebuilder-aq_block_3"
class="avaris-pagebuilder-block avaris-pagebuilder-block-text col-sm-12 avaris-animation avaris-animation-fade-down"><p style="text-align: center;"><span style="font-size: 18px; color: #b6bfc9;">Please complete the submission form below to make a reservation.</span></p></div></div></div></div><div class="avaris-pagebuilder-column-row has-text"><div class="avaris-pagebuilder-column-container"><div class="avaris-pagebuilder-column-blocks-wrap"><div id="avaris-pagebuilder-aq_block_4"
class="avaris-pagebuilder-block avaris-pagebuilder-block-text col-sm-12 avaris-animation avaris-animation-popup"><div role="form" class="wpcf7" id="wpcf7-f61-p59-o1" lang="en-US" dir="ltr"><div class="screen-reader-response"></div><form action="https://avaris.themes.creiden.com/restaurant/reservation/#wpcf7-f61-p59-o1" method="post" class="wpcf7-form" novalidate="novalidate"><div style="display: none;"> <input type="hidden" name="_wpcf7" value="61" /> <input type="hidden" name="_wpcf7_version" value="4.2.2" /> <input type="hidden" name="_wpcf7_locale" value="en_US" /> <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f61-p59-o1" /> <input type="hidden" name="_wpnonce" value="0ee50fd4c9" /></div><div class="avaris-wpc7 avaris-wpc7-dark"><div class="avaris-wpc7-row row"><div class="avaris-wpc7-col col-sm-4"><div class="avaris-wpc7-field"> <label for="date-278">Date</label> <span class="wpcf7-form-control-wrap date-278"><input type="date" name="date-278" value="" class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date" id="date-278" min="2016-03-24" aria-invalid="false" /></span></div><div class="avaris-wpc7-field"> <label for="number-948">Time</label> <span class="wpcf7-form-control-wrap number-948"><input type="number" name="number-948" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number" id="number-948" min="0" max="24" aria-invalid="false" /></span></div><div class="avaris-wpc7-field"> <label for="number-285">Number of People</label> <span class="wpcf7-form-control-wrap number-285"><input type="number" name="number-285" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number" id="number-285" min="10" max="100" aria-invalid="false" /></span></div><div class="avaris-wpc7-field avaris-wpc7-field avaris-wpc7-field__static"> <span class="wpcf7-form-control-wrap branches"><select name="branches" class="wpcf7-form-control wpcf7-select" id="branches" aria-invalid="false"><option value="">Select Branch</option><option value="Main Branch">Main Branch</option><option value="North Branch">North Branch</option><option value="South Branch">South Branch</option></select></span></div></p></div><div class="avaris-wpc7-col col-sm-8"><div class="avaris-wpc7-field"> <label for="text-951">Name</label> <span class="wpcf7-form-control-wrap text-951"><input type="text" name="text-951" value="" size="40" class="wpcf7-form-control wpcf7-text" id="text-951" aria-invalid="false" /></span></div><div class="avaris-wpc7-row row"><div class="avaris-wpc7-col col-sm-6"><div class="avaris-wpc7-field"> <label for="tel-647">phone number</label> <span class="wpcf7-form-control-wrap tel-647"><input type="tel" name="tel-647" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" id="tel-647" aria-invalid="false" /></span></div></p></div><div class="avaris-wpc7-col col-sm-6"><div class="avaris-wpc7-field"> <label for="textarea-947">E-mail</label> <span class="wpcf7-form-control-wrap textarea-947"><textarea name="textarea-947" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" id="textarea-947" aria-invalid="false"></textarea></span></div></p></div></p></div><div class="avaris-wpc7-field"> <label for="text-198">Additional Notes</label> <span class="wpcf7-form-control-wrap text-198"><input type="text" name="text-198" value="" size="40" class="wpcf7-form-control wpcf7-text" id="text-198" aria-invalid="false" /></span></div></p></div></p></div></div><div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div></div></div></div><div class="avaris-pagebuilder-column-row has-button"><div class="avaris-pagebuilder-column-container"><div class="avaris-pagebuilder-column-blocks-wrap"><div id="avaris-pagebuilder-aq_block_5"
class="avaris-pagebuilder-block avaris-pagebuilder-block-button col-sm-12 avaris-animation avaris-animation-fade-down"><div class="avaris-pagebuilder-block-button--end"> <a href="#" class="avaris-button avaris-button--ghost avaris-button--small">Reserve</a></div></div></div></div></div></div></div></div></div></div></div></div></div></article></div></div></div></div><footer class="avaris-main-footer"><div class="avaris-scroll-top avaris-scroll-top--triangle"><div class="avaris-scroll-top--triangle-middle"></div> <span class="icon-fontello"></span></div><div class="avaris-container"></div></footer> <script type="text/javascript">(function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:327358,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
/*  */
var google_conversion_id = 972505779;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/*  */</script> <script type="text/javascript" src="../../../www.googleadservices.com/pagead/f.txt"></script> <noscript><div style="display:inline;"> <img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/972505779/?value=0&amp;guid=ON&amp;script=0"/></div> </noscript><div class="avaris-main-footer-bar"><div class="avaris-container"><div class="avaris-main-footer-bar--copyrights"><p>This is a demo of Avaris WordPress Theme - © Copyrights reserved to Creiden</p></div><div class="avaris-main-footer-bar--social"><a href="#" class="avaris-main-footer-bar--social--holder"> <span class="icon-facebook-circled"></span> </a><a href="#" class="avaris-main-footer-bar--social--holder"> <span class="icon-twitter-circled"></span> </a><a href="#" class="avaris-main-footer-bar--social--holder"> <span class="icon-vimeo-circled"></span> </a><a href="#" class="avaris-main-footer-bar--social--holder"> <span class=""></span> </a></div></div></div><div class="avaris-scroll-top avaris-scroll-top--classic"> <span class="icon-fontello"></span></div> <script type='text/javascript'>/*  */
var creiden_events_tracker = {"analytics_code":"UA-37817482-7"};
/*  */</script> <svg height="0" width="0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="avaris-body-svg"> <g> <clipPath id="avaris-hex-clip"> <path d="M141.932,8.806 C160.812,20.572 179.882,31.995 199.143,43.074 C218.403,54.153 227.858,71.142 227.507,94.044 C227.157,116.946 227.187,139.845 227.599,162.746 C228.010,185.645 218.600,202.663 199.370,213.797 C180.140,224.931 161.099,236.410 142.251,248.231 C123.402,260.050 104.538,260.079 85.658,248.311 C66.778,236.545 47.708,225.123 28.447,214.044 C9.187,202.964 -0.268,185.974 0.083,163.073 C0.434,140.173 0.403,117.273 -0.009,94.371 C-0.420,71.471 8.989,54.455 28.221,43.321 C47.451,32.186 66.491,20.707 85.339,8.887 C104.188,-2.933 123.052,-2.960 141.932,8.806 Z" /> </clipPath> </g> </svg> <script type="text/javascript" defer src="../../../avaris-wpengine.netdna-ssl.com/restaurant/wp-content/cache/autoptimize/13/js/autoptimize_fe23c4c5bc05dde0a45732323ce4c534.js"></script></body>
<!-- Mirrored from avaris.themes.creiden.com/restaurant/reservation/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Dec 2016 19:30:02 GMT -->
</html>
{% endblock fos_user_content %}
